/* ESTILIZAÇÃO DA TELA PRINCIPAL DO DASHBOARD ADMIN */

main {
    display: flex;
    flex: 1;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard{
    display: flex;
}

.logo_pref{
    width: auto;
    object-fit: contain;
    justify-content: center;
    align-content: center;
    opacity: 15%;
    z-index: -99;
}
