/* ESTILIZAÇÃO DO COMPONENTE FOOTER  */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: black;
    color: white;
    height: 10vh;
    align-items: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.footer-text {
    display: flex;
}

.footer-text a {
    color: #21A2D9;
}

.footer-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #ffffff;
}

/* Media Queries */
@media (max-width: 1024px) {
    .footer {
        height: 180px;
        padding: 1rem 0;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 1rem;
        font-family: "Lexend", sans-serif;
        font-weight: 500;
    }

    .footer-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }

    .footer-actions {
        flex-direction: column;
    }

    .footer-socials {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .footer-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-text p {
        text-align: center;
        word-wrap: break-word;
        padding: 0 1rem;
    }
}
