/* ESTILIZAÇÃO DA PAGINA PRINCIPAL DO SITE, VAI SER MOSTRADO AO PUBLICO  */

html,
body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.blue-bar {
    border: none;
    align-self: center;
    height: 50%;
    max-height: 140px;
    min-width: 8px;
    border-radius: 0.15rem;
    background-color: #22A1D8;
    margin: 10px 0;
}

.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 85vh;
    padding: 0rem 2rem 2rem 2rem;
}

.section-header {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
}

.section-header-title {
    font-size: 3rem;
    font-weight: bold;
    color: #343434;
}

.section-header-subtitle {
    font-size: 2rem;
    margin-top: -5px;
    font-weight: bold;
    color: #209DD5;
}

.section-header-description {
    padding-top: 2rem;
    font-size: 1.5rem;
}

.section-header-img {
    min-width: 400px;
    /* max-width: 600px; */
    max-height: 800px;
}

/* legislacao */
.section-leg {
    width: 100%;
    max-height: 500px;
    background-color: #eeeeeee3;
    display: flex;
    justify-content: center;
    min-height: 220px;
}

.section-legislacao {
    display: flex;
    padding: 5rem 2rem;
    max-width: 1920px;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.section-legislacao-find {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 48%;
}

.section-legislacao-title {
    font-size: 2rem;
    font-weight: bold;
    color: #209DD5;
    padding-bottom: 1.25rem;
}

.section-legislacao-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.section-legislacao-select:focus {
    outline: none;
    border-color: #209DD5;
}

.section-legislacao-select::-ms-expand {
    display: none;
}

.section-legislacao-form {
    position: relative;
    display: inline-block;
    width: 90%;
}

.section-legislacao-select:hover {
    cursor: pointer;
}

.section-legislacao-form i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #6b6b6b;
    font-size: 20px;
}

.material-symbols-outlined.select-arrow {
    pointer-events: none;
}

.section-legislacao-text {
    width: 40%;
    display: flex;
    gap: 1rem;
    align-items: center
}

.section-legislacao-description {
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    line-height: 40px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break:normal;
}

/* noticias */
.section-noticias {
    padding: 4em 0 1em 0;
    width: 100%;
    overflow: hidden;
    /* max-width: 1440px; */
}

.section-noticias-info {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-noticias-title {
    font-size: 2rem;
    margin-top: -5px;
    font-weight: bold;
    padding-bottom: 1.25rem;
}

.section-noticias-link {
    position: relative;
    padding: 0.5rem 1rem;
    border: 1px solid;
    border-radius: 10px;
    font-size: 1.25rem;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.281),
        5px 5px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    transition: color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 25px;
}

.section-noticias-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #209DD5;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.section-noticias-link:hover {
    border-color: #209DD5;
    color: #fff;
}

.section-noticias-link:hover::before {
    transform: scaleX(1);
}


.section-noticias-carrossel {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.section-noticias-carrossel .slick-slide {
    margin: 0 15px;
}

.carrossel-item {
    position: relative;
    background-image: linear-gradient(0deg, rgba(12, 124, 189, 0.925) 35% , rgba(82, 181, 238, 0.801) 100%);
    border-radius: 20px;
}

.carrossel-titulo {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color:white;
    font-weight: 700;
    font-size: 22px;
    word-break: normal;
    padding: 10px;
    z-index: 10;
}

.carrossel-img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 15/10;
    display: block;
    height: auto;
    border-radius: 20px;
    -webkit-mask-image: linear-gradient(to top, transparent 2%, black 100%);
}

/* formulario fale conosco */
.form-contact {
    width: 100%;
    background-color: #209DD5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contact-us {
    max-width: 1280px;
    width: 100%;
    color: white;
    padding: 5rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-title {
    font-size: 3.125rem;
}

.form-contact-us-actions {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.form-contact-us-actions-data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 40%;
}

.form-input {
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding: 1rem 0.75rem;
    border: 1px solid #FFFFFF;
    background-color: #47a7d3;
    color: #FFFFFF;
}

.form-input::placeholder {
    color: #FFFFFF;
    font-size: 1.75rem;
}

.form-input:focus {
    box-shadow: 0 0 0 3px #47a7d3;
    outline: none;
    transition: ease 0.2s;
}

.form-contact-us-actions-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}

.form-fields-textarea {
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid #FFFFFF;
    background-color: #47a7d3;
    height: 75%;
    color: #FFFFFF;
    resize: none;
}

.form-fields-textarea::placeholder {
    color: #FFFFFF;
}

.form-fields-textarea:focus {
    box-shadow: 0 0 0 3px #47a7d3;
    outline: none;
    transition: ease 0.2s;
}

.form-button {
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 50%;
    align-self: center;
    transition: ease-in-out 0.2s;
}

.legislacao_index_container{
    display: flex;
    flex-direction: column;
}

.legislacao_index_container a{
    padding-top: 5px;
    font-weight: bold;
    color: #209DD5;
}

.form-button:hover {
    background-color: #08628b;
    transform: scale(1.02);
}


@media (min-width: 1440px) {
    .section-header {
        justify-content: center;
    }
}

@media (max-width: 1280px) {
    .section-header {
        max-width: 600px;
    }
}

@media (min-width: 1280px) {
    .section-header {
        max-width: 800px;
    }
}

@media (max-width: 1024px) {
    .section-header-title {
        font-size: 3.0625rem !important;
    }

    .section-header-subtitle {
        font-size: 1.5rem !important;
    }

    .section-header-description {
        font-size: 1.2rem !important;
    }

    .section-noticias-title {
        font-size: 2.75rem;
    }
}

@media (max-width: 767px) {
    .article {
        flex-direction: column;
        padding: 0 !important;
        height: auto;
    }

    .section-header {
        padding: 1rem 2rem !important;
    }

    .section-noticias-title{
        font-size: 1.5rem !important;
    }

    .form-title{
        font-size: 1.5rem !important;
    }

    .section-header-description {
        padding-bottom: 2rem;
        font-size: 1.5rem !important;
    }

    .section-header-img {
        /* display: none; */
        min-width: 300px !important;
        max-width: 500px !important;
        align-self: flex-end;
    }

    .section-legislacao {
        flex-direction: column;
    }

    .section-legislacao-title {
        text-align: center;
        padding-bottom: 3rem !important;
    }

    .section-legislacao-find {
        width: 100% !important;
    }

    .section-legislacao-find {
        width: 100% !important;
    }

    .section-legislacao-form {
        width: 100% !important;
    }

    .section-legislacao-text {
        width: 100% !important;
    }

    .section-noticias-title {
        text-align: center;
        padding: 0 1.5rem;
    }

    .form-contact-us-actions {
        flex-direction: column;
        gap: 2rem;
    }

    .form-contact-us-actions-data {
        width: 100% !important;
    }

    .form-input {
        width: 100% !important;
    }

    .form-title {
        font-size: 3rem !important;
    }

    .form-fields-textarea {
        height: 180px !important;
    }

    .form-contact-us-actions-text {
        width: 100% !important;
        gap: 2rem;
    }

    .form-input::placeholder {
        font-size: 1.35rem !important;
    }

    .form-button {
        padding: 1rem 2rem;
    }
}
