body{
    padding: 40px;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30;
}

.titulo h1 {
    width: 100%;
    max-width: 315px;
    height: auto;
    font-family: Georgia;
    font-size: 5vw;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

span{
    color:#209DD5;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr 0fr);
    gap: 1em;
    max-width: 100%;
    margin: 0;
}

.cards{
    overflow: hidden;
    width: 100%;
    max-width: 700;

}

.cards img{
    width: 100%;
    object-fit: cover;
    height: auto;
    aspect-ratio: 4/3;
}


.notBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ir{
    width: 30px;
}

.notBar h2 {
    font-family: Georgia;
    font-size: 40px;
    font-weight: 700;
    line-height: 45.45px;
    text-align: left;
    color: #209DD5;
    padding: 25px 0 0 0;
}

.card-body{
    display: flex;
    justify-content: left;
    padding-top: 30px;

}


.card-body p {
    font-family: Georgia;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.09px;
    text-align: left;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

@media (max-width: 1024px) {
    h1 {
        font-size: 48px;
    }
    .notBar h2 {
        font-size: 32px;
    }
    .card-body p {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 55px;
    }

    .notBar{
        justify-content: space-between;
        align-items: center;
    }
    .notBar h2 {
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        padding: 15px 0 0 0;
    }

    #ir{
        width: 20px;
    }
    .card-body p {
        font-size: 20px;
    }

    .container {
        height: 70%;
    }

    .card_container{
        display: flex;
        flex-direction: column;
        margin: 10;
        max-width: 100%;

    }

    .cards{
        overflow: hidden;
        width: 100%;
        max-width: 330;
        margin: 15px;
    }

}
