body{
    font-family: "Exo 2", sans-serif;
}

.noticias {
    display: flex;
    align-items: flex-start;
    flex: 1;
    height: auto;
}


.linha {
    width: 55% !important;
}

#cke_editor { /* This can be removed since CKEditor is no longer used */
    margin-top: 20px;
    margin-bottom: 20px;
}

.noticia_create {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.form_container {
    background-color: #F8F8F8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 80%;
    height: 95%;
}

.noticias h1 {
    width: 100%;
    max-width: 236px;
    font-size: 43px;
    font-weight: 400;
    padding-top: 25px;
    text-align: center;
    color: #000000;
    padding-bottom: 25px;
}

.line {
    max-width: 650px;
    width: 100%;
    margin: 25px 0;
    border: 1px solid #000;
}

.form_busca {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 25vw;
    padding-bottom: 20px;
}

.form_busca span {
    position: relative;
    right: 30px;
    color: darkgray;
    cursor: pointer;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 90%;
}

#noticiaForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 70%;
    padding-top: 35px;
}

#noticiaForm input {
    width: 85%;
    height: 6vh;
    border-radius: 20px;
    padding: 15px;
    line-break: normal;
    background-color: none;
}

input::placeholder{
    color: darkgray;
    font-size: 1rem;
    font-weight: 400;
}

#desc {
    width: 85%;
    border-radius: 20px;
    padding: 15px;
    background-color: none;
}

#editor-container {
    width: 100%; /* Use 100% da largura disponível */
    max-width: 100%; /* Não ultrapasse a largura do contêiner */
    height: 45vh;
    border-radius: 20px;
    border: none;
    overflow-y: auto; /* Adiciona uma barra de rolagem se o conteúdo for maior que a altura */
    word-wrap: break-word; /* Quebra as palavras longas */
    word-break: break-word; /* Quebra a linha ao atingir o limite */
}


.imagem{
    width: 85%;
    padding-top: 15px;
}

.addImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 6vh;
    border-radius: 20px;
    background-color: white;
    border-style:solid;
    border: 2px outset black;
    background-color: none;
}

.addImg span{
    color: darkgray;
    font-size: 1rem;
    font-weight: 400;
}

.icon_span{
    font-size: 1.5rem!important;
    color: #209DD5!important;
    padding-right: 5px!important;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .noticias h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .not p {
        font-size: 30px;
        padding: 0;
        text-align: center;
    }

    .not {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-content: center;
        min-height: auto;
        gap: 15px;
        padding: 10px;
    }

    .botoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 15vw;
        padding-right: 0px;
        gap: 15px;
    }

    .botoes span {
        background-color: #209DD5;
        padding: 10px;
        border-radius: 10px;
        color: white;
        font-size: 25px;
    }

    .utilitarios {
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 15px;
    }

    .allNoticias {
        height: 100vh;
    }

    .form_busca {
        width: 100%;
    }

    .form_busca label {
        position: relative;
        width: 0;
        height: 0;
        top: -10px;
    }

    #editor-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .noticias h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .not p {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #editor-container {
        height: 250px; /* Adjust for smaller screens */
    }
}

@media (max-height: 700px) {
    .botoes span {
        font-size: 20px;
        background-color: #209DD5;
        padding: 8px;
        border-radius: 10px;
        color: white;
    }

    .not {
        padding: 5px;
        min-height: 5vh;
        margin: 0 0 5px 0;
    }

    #editor-container {
        height: 250px; /* Adjust for shorter viewports */
    }
}

.ql-editor {
    height: 35vh!important;
    padding: 0 15px 60px 15px!important;
}

.ql-editor strong {
    font-weight: bold !important;
}

.ql-editor em {
    font-style: italic !important;
}

.ql-editor h1 {
    font-size: 2em !important;
    font-weight: bold !important;
}

.ql-editor .ql-indent-1 {
    padding-left: 3em !important;
}

.ql-editor .ql-align-right {
    text-align: right !important;
}

.ql-editor .ql-direction-rtl {
    direction: rtl !important;
}

.ql-toolbar.ql-snow {
    border:none!important;
    font-family: "Exo 2", sans-serif!important;
}

.quill_container{
    border: 2px outset black;
    border-radius: 15px;
    padding-bottom: 15px;
    width: 85%;
    max-width: 85%;
    max-height: 40vh;
    background-color: white;
    overflow: hidden;
}
